@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
.App {
  text-align: center;
  background-image: url("../src/assets/img/FondoBeneficiario.jpg");
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}
